Source: rose
Maintainer: Chunhua Liao <chunhualiao@gmail.com>
Section: devel
Build-Depends: debhelper (>= 9)

Package: rose
Architecture: amd64
Depends: libc6, libstdc++6, libgcc1, libicu55, openjdk-8-jre-headless, gcc-5, g++-5, gfortran-5, libboost-chrono-dev, libboost-date-time-dev, libboost-filesystem-dev, libboost-iostreams-dev, libboost-program-options-dev, libboost-random-dev, libboost-regex-dev, libboost-serialization-dev, libboost-signals-dev, libboost-system-dev, libboost-thread-dev, libboost-wave-dev
Description: ROSE compiler infrastructure
 ROSE compiler infrastructure
 .
 Developed at Lawrence Livermore National Laboratory (LLNL), ROSE is an open source compiler infrastructure to build source-to-source program transformation and analysis tools for large-scale C (C89 and C98), C++ (C++98 and C++11), UPC, Fortran (77/95/2003), OpenMP, Java, Python and PHP applications.
